<!DOCTYPE html>
<html ng-app="LittleThings">
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <title>The Little Things</title>
  <script src="/angular/angular.js"></script>
  <script src="/jquery/dist/jquery.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/charities_controller.js"></script>
</head>
<body>
  <h1>The Little Things</h1>
  <h3>we can do to make the world a better place</h3>

  <button id="generate-fact">Generate a Fact</button>
  <button id="generate-act">Generate an Act</button>
  <div class="generated">
  </div>

  <h2>Get Involved!</h2>
  <h4>Search non-profit organizations in your area via <a href="http://orghunter.com/advance_search">orghunter.com</a>.</h4>
  <p>Results show only organizations that are tax deductible and in good standing with the IRS.</p>

  <div ng-controller="CharitiesController as charities">
  <!-- only allow user to fill in either City and state OR zipcode -->
  <!-- if city is filled in and state is not, show error "please enter a state" -->
  <!-- if zipcode is filled in, don't allow user to enter info in the city/state fields -->
    <label>City:</label>
    <input type="text" ng-model="charities.city" placeholder="i.e.:  Amityville">
    <label>State<i>(initials in caps)</i>:</label>
    <input type="text" ng-model="charities.state" placeholder="i.e.:  NY">
    OR
    <label>Zip Code<i>(5 digits)</i>:</label>
    <input type="text" ng-model="charities.zip" placeholder="i.e.:  11701">
    <button ng-click="charities.fetch()"><a href="./search.png"></a></button>

    <ul id="charities">  
    <!-- ng-if there are no charities matching that zip code, show error message (i.e. "-->
    <!-- ng-if there is, show below info -->
      <li ng-repeat="charity in charities.all">

        <strong>{{charity.charityName}}</strong>
        {{charity.category}}
        {{charity.city}} {{charity.state}} {{charity.zipCode}}
        {{charity.missionStatement}}
        <a href="{{charity.website}}">{{charity.website}}</a>
      </li>
    </ul>
  </div>

</body>
</html>