@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,300italic,300|Sue+Ellen+Francisco);
/*font-family: 'Lato', sans-serif;*/
/*font-family: 'Sue Ellen Francisco', cursive;*/
/*example: h1 { font-family: 'Metrophobic', Arial, serif; font-weight: 400; }*/

/*colors:  #6B9E44, #6ABA83, #76B56B, #82B863, #63ADB8, #83B863, #44989E, #55A39E or rgba(85, 163, 158, 1), #81A355 or rgba(129, 163, 85, 1) */

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 auto;
/*  margin-bottom: 60px;*/
  background: url(../images/mountains-bg.jpg) #55A39E;
  background-position: fixed;
  background-size: cover;
  vertical-align: middle;
}

.container {
  margin: 10 auto;
  width: auto;
/*  max-width: 680px;*/
  padding: 10px;
  vertical-align: middle;
}

#logo {
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 35px;
  text-align: right;
}

.header-bar {
  background-color: rgba(60, 122, 43, 0.85);
  height: 75px;
  font-family: 'Lato', sans-serif; 
  font-weight: 300;
/*  font-size: 20px;*/
  color: white;
  padding: 10px;
  vertical-align: middle;
  text-align: center;
}

.main {
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.65);
  width: 90%;
  padding: 35px;
  font-family: 'Lato', sans-serif; 
  vertical-align: center;
  height: 695px;
  max-height: 695px;
  overflow: scroll;
}

#tagline {
  vertical-align: center;
  padding-top: 8px;
  text-align: left;
  font-size: 20px;
}

.headline {
  font-family: 'Lato', sans-serif; 
  font-size: 20px;
  color: #39754C;
  text-align: center;
  padding: 25px;
}

h2 {
  padding: 5px;
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 40px;
  color: #82B863;
  line-height: 60px;
}


.generators {
  margin: 0 auto;
  padding: 10px;
  vertical-align: middle;
  text-align: center;
  font-family: 'Lato', sans-serif; 
}

.generated {
  margin: 10px;
  padding: 20px;
  font-size: 22px;
  text-align: center;
  color: #4D7A2B;
}

.api {
  vertical-align: middle;
  vertical-align: center;
  text-align: center;
}

.instructions {
  font-size: 18px;
  color: #4F7539;
  line-height: 8px;
  font-weight: 400;
}

#caption {
  font-weight: 300;
  font-style: italic;
}

li {
  padding: 10px;
  font-size: 20px;
}

a:link {
  color: #82B863;
}

a:hover{
  color: #63ADB8;
  text-decoration: underline;
}

label {
  vertical-align: top;
  color: #34693A;
  font-size: 11px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  display: inline-block;
}

#or {
  font-size: 10px;
  padding: 20px;
}

button {
  background-color: #4F7539;
  border: none;
  box-shadow: none;
  width: 40%;
  vertical-align: middle;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  padding: 5px;
  letter-spacing: 1px;
}

input {
  width: 175px;
}

/* glowing input boxes */
input[type=text], textarea {
  transition: all 0.30s ease-in-out;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  outline:none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #6B9E44;
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  -webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  -moz-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);;
}


.col-md-12 {
  margin: 0 auto;
  vertical-align: middle;
}

button:hover{
  background-color: #63ADB8;
}

#search {
  height: 35px;
  vertical-align: middle;
  top: -10px;
  width: auto;
  float: left;
/*  background-attachment: fixed;*/
}

.results {
  display: block;
  padding: 15px;
}

li {
  list-style-type: none;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 31px;
  background-color: rgba(107, 158, 68, 0.5);
  color: white;
  text-align: center;
  vertical-align: middle;
  padding-top: 5px;
}